.album-page{
    padding: 0 10%;
}

.album-page-main{
    border-top: 2px solid black;
    margin-top: 4px;
    padding: 20px 2%;
}

img.album-page-cover{
    width: 100%;
    box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.3);
}

h1.album-page-artist, h2.album-page-title{
    color: black;
    font-family: cooper-black-std, sans-serif;
}

h1.album-page-artist{
    font-size: 36px;
    margin-bottom: 10px;
}

h2.album-page-title{
    font-size: 28px;
    margin-bottom: 10px;
}

p.album-page-code{
    font-weight: 600;
    font-size: 14px;
}

.title-purchase-container{
    position: relative;
}

.album-page-description-container{
    padding: 20px 2%;
    padding-bottom: 0;
    border-top: 2px solid black;
}
  
.quote-container{
    text-align: center;
    padding: 0px 20px;
    position: absolute;
    bottom: 0;
}

.quote, .quote-attribution{
    font-weight: 900;
    font-size: 14px;
    margin: 0px;
}
.quote{
    font-style: italic;
}

/*purchase*/
.album-page-purchase{
    margin-bottom: 0px;
    font-weight: 600;
}

.purchase-form-container{
    width: 80px;
    display: inline-block;
    margin-right: 4px;
}

button.album-page-purchase-button, input.album-page-purchase-button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 6px;
    padding: 4px 8px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    width: 80px;
    display: inline-block;
}
button.price, input.price{
    display: none;
    background-color: rgb(85, 85, 85);
    border-color: rgb(85, 85, 85);
    color: #EEECE1
}
.purchase-button-container:hover button.format{
    display: none;
}

.purchase-button-container:hover button.price{
    display: inline-block;
    cursor: pointer;
}

.notes{
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px;
}

.album-page-video-container{
    text-align: center;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 20px;
    padding-bottom: 51%
}

.album-page-video{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;    
}

@media only screen and (max-width: 850px) {
    h1.album-page-artist{
        font-size: 32px;
        margin-bottom: 6px;
    }
    
    h2.album-page-title{
        font-size: 22px;
        margin-bottom: 6px;
    }
    
    p.album-page-code{
        font-weight: 600;
        font-size: 12px;
    }

    .quote-container{
        margin-top: 30px;
        position: static;
    }
    
    
}

